<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_I_SERVC" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62953/Server_component/CL_SERVC.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_I_SERVC"
                contract="ServiceReference1.I_SERVC" name="BasicHttpBinding_I_SERVC" />
        </client>
    </system.serviceModel>
</configuration>