<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CL_WS_ReceptionPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://vm-reception:8080/reception_web/reception"
                binding="basicHttpBinding" bindingConfiguration="CL_WS_ReceptionPortBinding"
                contract="CL_WS_ReceptionService.IWSReception" name="CL_WS_ReceptionPort" />
        </client>
    </system.serviceModel>
</configuration>