<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="2000000"
                 executionTimeout="100000" requestLengthDiskThreshold="8192"/>
  </system.web>
  
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NET_TCP_128b" closeTimeout="00:30:00" openTimeout="00:30:00"
          receiveTimeout="00:30:00" sendTimeout="00:30:00" transferMode="Buffered"
          maxBufferPoolSize="2000000000" maxBufferSize="2000000000" maxReceivedMessageSize="2000000000">
          <readerQuotas maxDepth="32" maxStringContentLength="2000000000"
            maxArrayLength="2000000000" maxBytesPerRead="2000000000" maxNameTableCharCount="2000000000" />
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security mode="None">
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="Dad_server_component.Server_component.CL_SERVC">
        
        <endpoint address="CL_SERVC" binding="netTcpBinding" bindingConfiguration="NET_TCP_128b"
          name="netTCP" contract="Dad_server_component.Server_component.I_SERVC" />

        <endpoint address="http" binding="basicHttpBinding" bindingConfiguration=""
  name="http" contract="Dad_server_component.Server_component.I_SERVC" />
        
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://10.33.126.61:808/Server_component/" />
            <add baseAddress="http://10.33.126.61:20000/Server_component/" />
          </baseAddresses>
        </host>
      
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!-- Pour éviter la divulgation d'informations de métadonnées, définissez les valeurs ci-dessous sur false avant le déploiement -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Pour recevoir les détails de l'exception dans les erreurs à des fins de débogage, définissez la valeur ci-dessous sur true. Pour éviter la divulgation d'informations d'exception, définissez-la sur false avant le déploiement -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>   
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Pour parcourir le répertoire racine de l'application Web lors du débogage, définissez la valeur ci-dessous sur true.
        Définissez-la sur false avant le déploiement pour ne pas divulguer d'informations du dossier de l'application Web.
      -->
    <directoryBrowse enabled="true"/>

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2000000000"> </requestLimits>
      </requestFiltering>
    </security>
    
  </system.webServer>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4" >
      <listeners>
        <add name="myListener"
          type="System.Diagnostics.TextWriterTraceListener"
          initializeData="c:\log.txt" />
        <remove name="Default"></remove>
      </listeners>
    </trace>
  </system.diagnostics>

</configuration>
